PORT_FOR_BACKEND=3002
FAILURE_RATE_BACKEND=0.2   # Increase this value to test failure scenarios (sad paths)
MMKV_ENCRYPTION_KEY=29f8eda00526e042c3c50t36639a1373107f5ad1e80df3c4589ad5f07a05dbe7
URL_BASE_FOR_FRONTEND=http://localhost:3002
URL_BASE_FOR_FRONTEND_ANDROID=http://10.0.2.2:3002
FEE_RATE_FRONTEND = 0.035
MIN_FEE_FRONTEND = 0.35